{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "semi": [2, "never"],
        "yoda": 2,
        "no-var": 2,
        "eol-last": 2,
        "no-mixed-spaces-and-tabs": 2
    }
}
