
user-select()
    user-select arguments
    -moz-user-select arguments
    -webkit-user-select arguments
    -ms-user-select arguments

html, body
    margin 0
    height 100%

#map
    height 100%
    width 100%

.text-overlay
    padding 3px 5px
    border-radius 4px
    background lime
    font-size 16px
    position absolute
    transform translate(-50%, -50%)
    cursor pointer
    user-select(none)
