
user-select()
    user-select arguments
    -moz-user-select arguments
    -webkit-user-select arguments
    -ms-user-select arguments

html, body
    margin 0
    height 100%

#map
    height 100%
    width 100%

.text-overlay
    padding 3px 5px
    border-radius 4px
    //background lime
    font-size 20px
    position absolute
    transform translate(-50%, -50%)
    cursor pointer
    user-select(none)

.side
    width 60%
    height 100%
    position absolute
    top 0%
    bottom 0
    left 0%
    z-index 1
    opacity 1
    
.information
    position absolute
    background #ffffff
    top 5%
    left 0%
    right 60%
    bottom 0%    
    
.information a 
    text-align: center;
    padding 4px 4px 4px 4px
    text-decoration none
    //font-size: 25px;
    color #020202
    display block
    transition 0.3s

.information a:hover, .offcanvas a:focus
    background #DCDCDC;
    
.information h1 
    color #000000 

.diagram
    position absolute
    top 5%
    left 40%
    right 0%
    bottom 40%
    background-color #ffffff
    
    
//----------Navigation-Bar-Begin----------//
.side-top
    height 5%

ul.topnav 
    list-style-type: none
    height 100%
    margin 0
    padding 0
    overflow hidden
    background-color #333


ul.topnav li 
    float left
    
ul.topnav li a 
    display inline-block
    color #f2f2f2
    text-align center
    padding 14px 16px
    text-decoration none
    transition 0.3s
    font-size 17px


ul.topnav li a:hover 
    background-color #555
    
ul.topnav li.icon 
    display none
//----------Navigation-Bar-End----------//

.popWords    
    position absolute
    top 5%
    left 5%
    right 5%
    bottom 5%
    overflow-y: scroll
    ::-webkit-scrollbar { 
        display: none; 
    }
    
.conWords
    position absolute
    top 0%
    left 100%
    right 34%
    bottom 0%
    overflow-y: scroll
    
.popTweets
    position absolute
    top 0%
    left 100%
    right 0%
    bottom 0%
    overflow-y: scroll
    
.close-btn
    position absolute
    width 36px
    height 36px
    font-size 32px
    top 0
    right 0
    cursor pointer
    text-align center
    color #f1f1f1 

.display-none
    display none
   
.wrapperClass
    position absolute
    top 0%
    left 0%
    right 0%
    bottom 0%

    
