
user-select()
    user-select arguments
    -moz-user-select arguments
    -webkit-user-select arguments
    -ms-user-select arguments

html, body
    margin 0
    height 100%

#map
    height 100%
    width 100%

.text-overlay
    padding 3px 5px
    border-radius 4px
    background lime
    font-size 16px
    position absolute
    transform translate(-50%, -50%)
    cursor pointer
    user-select(none)

.side
    width 400px
    position absolute
    top 0
    bottom 0
    left 0
    background #fff
    z-index 1

.close-btn
    position absolute
    width 36px
    height 36px
    font-size 32px
    top 0
    right 0
    cursor pointer
    text-align center

.display-none
    display none
